.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.pagination .page-link {
    padding: 8px 12px;
    border: 1px solid #ccc;
    margin: 0 4px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination .page-link:hover {
    background-color: #f0f0f0;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination svg {
    width: 20px !important;
}

.pagination p {
    margin-top: 1rem;
}